#input {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.outer {
  justify-content: center;
}
.infoWrapper {
  width: 50%;
}
.inputWrapper {
  display: grid;
  place-items: center;
}
.outer {
  margin-top: 310px;
  display: flex;
  place-items: center;
}
.infoWrapper {
  display: grid;
}
#fontFamilyName {
  width: 160px;
}
.inputWrapper h3 {
  position: absolute;
  top: 0px;
}
#myDiv,
#input {
  position: absolute;
  top: 40px;
  height: 250px;
  margin-top: 10px;
  width: 50%;
  border-radius: 5px;
}
#color {
  color: black;
  margin-top: 10px;
  display: flex;
  margin-left: 10px;
}

#colorName,
.fontSizeWrapper,
.backgroundWrapper,
.fontFamilyWrapper {
  margin-top: 10px;
}
#backgroundColor,
#fontFamily {
  display: flex;
  margin-left: 10px;
}
#backgroundColor li:nth-child(2) {
  margin-left: 5px;
}
.colorWrapper {
  display: flex;
}
.fontSizeWrapper,
#fontSize,
.backgroundWrapper,
.fontFamilyWrapper {
  display: flex;
}
#input {
  resize: none;
}
